/* Activity.css */

.acttable::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .acttable::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  .acttable::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }
  
  .acttable::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  