.right{
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.179);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.right input:focus-visible{
outline: none !important;
}
.right input{
    height: 3rem;
}